@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
:root {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    display: flex;
}

.sidebar {
    background-color: lightgrey;
    width: 25vw;
    padding: 30px 30px 0px;

    display: grid;
    grid-template-rows: 45px ;
    grid-auto-rows: 45px;
    overflow-y: auto;
}

.sidebar > div {
    font-size: 30px;
}

.sidebar-project {
    display: grid;
    grid-auto-rows: 30px;
    gap: 10px;
    
}

.sidebar-project-list {
    margin: 3px;
    
}

/** Main Body **/

.main-body {
    background-color: slategray;
    width: 75vw;
    height: 100vh;
    padding: 0px 60px 0px;

    display: grid;
    grid-template-rows: 100px 30px;
    grid-auto-rows: 75px;
    gap: 20px;
    overflow-y: auto;
}

.main-body > h2 {
    font-size: 45px;
}

.todo-creator-btn {
    width: 40px;
}

.todo-btn {
    width: 40px;
}

.main-body > div {

    background-color: red;
    color: white;
}
